<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Produtos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
     aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> &nbsp;
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-info" (click)="triggerModal(modalData)">Novo Produto <span class="material-icons">
            add_circle_outline
            </span></button>
        </li>
        </ul>
        </div>
      </div>
    </nav>

<div class="table-list">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaDeProdutos">
      <td> {{item.id}}</td>
      <td> {{item.nome}}</td>
      <td> {{item.quantidade}}</td>
      <td> {{item.valor}}</td>
      <td>
        <button type="button" class="btn btn-primary"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button> &nbsp;
        <button type="button" class="btn btn-danger" (click)="deleteProduto(item, modalDeletarProduto)"><span class="material-icons">
          delete_forever
          </span></button> <!-- item.id  -->
     </td>
      </tr>

    </tbody>
  </table>
</div>

<!-- formulario para criar produto -->

<ng-template #modalData let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Formulário de Novo Produto</h4>
  </div>


  <div class="modal-body">
    <form [formGroup]="createProduto"  (ngSubmit)="postCreateProduto()" >

      <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input type="text" class="form-control" formControlName="nome">
        <!-- <div class="form-text">We'll never share your email with anyone else.</div> -->
      </div>

      <div class="mb-3">
        <label class="form-label">Quantidade:</label>
        <input type="number" class="form-control"  formControlName="quantidade">
      </div>

      <div class="mb-3">
        <label class="form-label">Valor:</label>
        <input type="text" class="form-control"  formControlName="valor">
      </div>


      <button type="submit" [disabled]='createProduto.invalid' class="btn btn-primary">Salvar</button>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')"> Fechar </button>
  </div>
</ng-template>




<!-- deletar produto -->

<ng-template #modalDeletarProduto let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atenção!!!</h4>
  </div>


  <div class="modal-body">
    <h4 class="modal-title" id="modal-basic-title">Realmente deseja excluir: {{infoDeleteProduto.nome}} ?</h4>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteconfirmado()"> Sim </button>
    <button type="button" class="btn btn-info" (click)="modal.close('Save click')"> Não </button>
  </div>
</ng-template>


