
.table-area{
  background: rgb(207, 203, 203);
  height: auto;
  overflow: auto;
  }

.table-list{
  background: rgb(228, 222, 222);
  width: auto;
  margin: 1%;
  text-align: center;
}

.table tbody tr{
  background: rgb(207, 198, 198);
}

.table tbody tr:hover{
  background: rgb(153, 145, 145);
  color: white;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
